@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300&display=swap");

* {
	font-family: "Public Sans", sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.my-name {
	margin: 0;
	border-bottom: 2px solid #d0d7de;
}

.container {
	width: 80%;
	margin: 50px auto;
}

.bold {
	font-weight: bold;
}

.container-block {
	padding: 10px 0;
}

.container-block__header {
	font-size: 1.5em;
	border-bottom: 1px solid #d0d7de;
}

pre {
	background-color: #f6f8fa;
}

.profession {
	margin: 10px 0;
	font-style: italic;
}

ul li {
	margin-bottom: 3px;
}
